
html {
    position: relative;
    min-height: 100%;
}
body {
    background-image: url(https://www.transparenttextures.com/patterns/dark-leather.png);
    background-size: cover;
    margin: 0 0 100px;
}  
.footer {
    position: absolute;
    left: 0;
    bottom: 0;   
    width: 100%;
} 
#girma {
    width: 175px;
    height: 205px;
}
.about {
    font-family:'Noto Serif', serif; 
}
#portfolio-container {
    max-width: 75%;
}
@media screen and (max-width: 500px) {
    #portfolio-container {
        width: 100%;
    }
  }
/* .navbar-brand {
    margin-left: 2.2rem;
} */